*.pydevproject
.metadata
.gradle
bin/
tmp/
target/
*.tmp
*.bak
*.swp
local.properties
.settings/
.loadpath
.project
.classpath
.externalToolBuilders/
.DS_Store
*.launch
.cproject
.buildpath
.target
.texlipse
*.iml
